.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 10px 20px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  text-transform: uppercase;
  outline: none;
  border-radius: 5px;
}

#selectBox {
  width: 100%;
}

.footer {
  background-color: #636466;
  margin-top: "40px";
  height: "480px";
  width: "sw";
}

img.footer-img {
    height: 60px;
    margin-left: 10px;
}

img.footer-microsoft-img {
    width: 80px;
    margin-left: 10px;
}

img.footer-itv-img {
    width: 70px;
    margin-left: 10px;
}

img.footer-al-img {
    width: 70px;
    margin-left: 10px;
}

#footer-partnership-title {
    display: inline;
    color: #FFF;
    font-size: 15px;
    font-family: 'Roboto';
}

#footer-partnership {
    display: inline;
    position: absolute;
    right: 20px;
}

.footer-itv {
    padding: 5px;
    background-color: #000D08;
    display: flex;
    align-items: center;
}

.about-footer {
    width: 100%;
}

.methodology-footer {
    position: absolute;
    width: 100%;
}

.footer-imazon-logo {
    margin-left: 5px;
}
