.navbar {
display:inline-block;
text-decoration: none;
padding-left: 30px;
padding-right: 30px;
color:rgb(200, 200, 200);
}
.navbar:hover{
color:rgb(255, 255, 255);
}
.active{
color:rgb(13, 96, 89);
}
.active:hover{
color:rgb(13, 96, 89);
}
